* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*:focus {
    outline: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 5vh;
}

.nav-bar h1 {
    color: #fff;
}

.main-container {
    margin: 0 400px;
}

.input-container {
    margin-top: 20rem;
    position: relative;
}

p {
    margin-left: 5px;
}

input {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;
}

/* input[type="text"] {
    font-size: 15px;
} */

::placeholder {
    opacity: 0.5;
}

button {
    position: absolute;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    border: none;
    bottom: 0%;
    right: 0px;
    height: 64%;
    z-index: 2;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button h3 {
    font-size: 0.9rem;
    font-weight: 600;
}

.img-grid-container {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 512px);
    grid-template-rows: repeat(2, 500px);
    justify-content: center;
}

.img-container {
    /* border: 1px solid blue; */

    display: flex;
    justify-content: center;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 512px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.465);
    transition: opacity 0.4s ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.8;
}
